<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Grady</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">


</head>
<body style="margin-top:100px;">
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center">
        <div class="logo mr-auto">
          <h1 class="text-light"><a href="index.html"><span>Grady</span></a></h1>
        </div>
        

        <nav class="nav-menu d-none d-lg-block">
          <ul>
                <li class="active"><a href="/">Acceuil</a></li>
                <li><a href="#pres">Présentation</a></li>
                <li><a href="#why">Pourquoi ?</a></li>
                <li><a href="#features">Fonctionalités</a></li>
                <li><a href="#team">L'équipe</a></li>
                <li><a href="#testimonials">Enseignements</a></li>
                <li class="drop-down"><a href="">Cours</a>
                  <ul>
					<nav>
                    <li><a href="/stat/LEPL1402">LEPL1402</a></li>
					<li><a href="/stat/LSINF1101-PYTHON">LSINF1101-PYTHON</a></li>
					<li><a href="/stat/LSINF1252">LSINF1252</a></li>
					</nav>
                  </ul>
                </li>
            <li class="get-started"><a href="/stat">Utiliser</a></li>
          </ul>
        </nav><!-- .nav-menu -->
      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->
  <h1 style="margin-bottom:50px;margin-left:25%;">Choisissez une tâche.</h1>
<ul style="margin-left:25%;">
	<li><a href="/stat/truefalse">"true""false"</a></li>
	<li><a href="/stat/BST">BST</a></li>
	<li><a href="/stat/BST_Insert_Delete">BST-Insert_Delete</a></li>
	<li><a href="/stat/DoubleLL">DoubleLL</a></li>
	<li><a href="/stat/EmployeList">EmployeList</a></li>
	<li><a href="/stat/Filemap">Filemap</a></li>
	<li><a href="/stat/PC">PC</a></li>
	<li><a href="/stat/Search_and_replace">Search_and_replace</a></li>
	<li><a href="/stat/Vectorfile">Vectorfile</a></li>
	<li><a href="/stat/absolute_value">absolute_value</a></li>
	<li><a href="/stat/advanced_queue">advanced_queue</a></li>
	<li><a href="/stat/alist">alist</a></li>
	<li><a href="/stat/array_mmap">array_mmap</a></li>
	<li><a href="/stat/asm1">asm1</a></li>
	<li><a href="/stat/asm2">asm2</a></li>
	<li><a href="/stat/asm3">asm3</a></li>
	<li><a href="/stat/asm4">asm4</a></li>
	<li><a href="/stat/basic_linked_list">basic_linked_list</a></li>
	<li><a href="/stat/bits_leftmost">bits_leftmost</a></li>
	<li><a href="/stat/bits_rightmost">bits_rightmost</a></li>
	<li><a href="/stat/bits_spin">bits_spin</a></li>
	<li><a href="/stat/bits_strong">bits_strong</a></li>
	<li><a href="/stat/bits_sum">bits_sum</a></li>
	<li><a href="/stat/bitwise_ops">bitwise-ops</a></li>
	<li><a href="/stat/bookstore">bookstore</a></li>
	<li><a href="/stat/btree_access">btree-access</a></li>
	<li><a href="/stat/calloc2">calloc2</a></li>
	<li><a href="/stat/cmp_funct">cmp_funct</a></li>
	<li><a href="/stat/commandetest">commandetest</a></li>
	<li><a href="/stat/count_zero">count_zero</a></li>
	<li><a href="/stat/dames">dames</a></li>
	<li><a href="/stat/factorial">factorial</a></li>
	<li><a href="/stat/fork">fork</a></li>
	<li><a href="/stat/gcd">gcd</a></li>
	<li><a href="/stat/hexadecimal">hexadecimal</a></li>
	<li><a href="/stat/index_text">index-text</a></li>
	<li><a href="/stat/insertion_sort">insertion-sort</a></li>
	<li><a href="/stat/intersection">intersection</a></li>
	<li><a href="/stat/linked_lists_1">linked_lists_1</a></li>
	<li><a href="/stat/linked_lists_2">linked_lists_2</a></li>
	<li><a href="/stat/linked_structs">linked_structs</a></li>
	<li><a href="/stat/main_argc">main_argc</a></li>
	<li><a href="/stat/malloc">malloc</a></li>
	<li><a href="/stat/matrix_mult">matrix-mult</a></li>
	<li><a href="/stat/mini_projet_string">mini-projet-string</a></li>
	<li><a href="/stat/modem_read">modem_read</a></li>
	<li><a href="/stat/modem_read_bk">modem_read_bk</a></li>
	<li><a href="/stat/multi_free">multi-free</a></li>
	<li><a href="/stat/my-sem">my-sem</a></li>
	<li><a href="/stat/my_strlen">my_strlen</a></li>
	<li><a href="/stat/order_relation_linked_list">order_relation_linked_list</a></li>
	<li><a href="/stat/p3check">p3check</a></li>
	<li><a href="/stat/palindrome">palindrome</a></li>
	<li><a href="/stat/pointer_types">pointer_types</a></li>
	<li><a href="/stat/poly">poly</a></li>
	<li><a href="/stat/printf">printf</a></li>
	<li><a href="/stat/reverse">reverse</a></li>
	<li><a href="/stat/rpn_calc">rpn-calc</a></li>
	<li><a href="/stat/run_redir">run_redir</a></li>
	<li><a href="/stat/s1_ctf1">s1_ctf1</a></li>
	<li><a href="/stat/s1_ctf2">s1_ctf2</a></li>
	<li><a href="/stat/s1_diff">s1_diff</a></li>
	<li><a href="/stat/s1_grep">s1_grep</a></li>
	<li><a href="/stat/s1_pipes">s1_pipes</a></li>
	<li><a href="/stat/s1_tar">s1_tar</a></li>
	<li><a href="/stat/s2_make">s2_make</a></li>
	<li><a href="/stat/s2_make_calc">s2_make_calc</a></li>
	<li><a href="/stat/s2_make_mcq">s2_make_mcq</a></li>
	<li><a href="/stat/s3_cunit_basics">s3_cunit_basics</a></li>
	<li><a href="/stat/s3_make">s3_make</a></li>
	<li><a href="/stat/s3_make_mcq">s3_make_mcq</a></li>
	<li><a href="/stat/s3_make_tests">s3_make_tests</a></li>
	<li><a href="/stat/s4_file_save_struct">s4_file_save_struct</a></li>
	<li><a href="/stat/s4_read_file_array_integer">s4_read_file_array_integer</a></li>
	<li><a href="/stat/s5_big_array_get_set">s5_big_array_get_set</a></li>
	<li><a href="/stat/s5_file_copy">s5_file_copy</a></li>
	<li><a href="/stat/s5_file_exists">s5_file_exists</a></li>
	<li><a href="/stat/set_bit">set_bit</a></li>
	<li><a href="/stat/shell">shell</a></li>
	<li><a href="/stat/simple_stack">simple_stack</a></li>
	<li><a href="/stat/sleep_malloc">sleep_malloc</a></li>
	<li><a href="/stat/soumission_projet_cracker">soumission-projet-cracker</a></li>
	<li><a href="/stat/soumission_projet_fractale">soumission-projet-fractale</a></li>
	<li><a href="/stat/stack_vs_heap">stack_vs_heap</a></li>
	<li><a href="/stat/strcpy">strcpy</a></li>
	<li><a href="/stat/strsplit">strsplit</a></li>
	<li><a href="/stat/struct_cmp">struct_cmp</a></li>
	<li><a href="/stat/swap">swap</a></li>
	<li><a href="/stat/swap2int">swap2int</a></li>
	<li><a href="/stat/tab_find">tab_find</a></li>
	<li><a href="/stat/tri">tri</a></li>
	<li><a href="/stat/types">types</a></li>
	<li><a href="/stat/types2">types2</a></li>
</ul>